body{

margin:0;
font-family:Montserrat;
background:#0b1c3a;
color:white;

}

#three-bg{

position:fixed;
top:0;
left:0;
z-index:-1;

}

section{

padding:80px 20px;
text-align:center;

}

.hero{

padding:120px 20px;

}

h1{

font-family:Playfair Display;
font-size:60px;

}

.countdown{

display:flex;
justify-content:center;
gap:40px;

}

#opening{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;

background:#08142b;

display:flex;
align-items:center;
justify-content:center;

z-index:1000;

}

.invitation-card{

background:#132c5c;
padding:60px;
border-radius:20px;

}

button{

background:#3a6cf4;
border:none;
padding:14px 28px;
color:white;
border-radius:10px;
cursor:pointer;

}

.detail-card{

background:#132c5c;
padding:30px;
border-radius:12px;
max-width:500px;
margin:auto;

}

.route-btn{

display:block;
background:#3a6cf4;
padding:12px;
margin-top:15px;
border-radius:10px;
text-decoration:none;
color:white;

}

#seating-map{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:40px;

}

.table{

background:#132c5c;
padding:20px;
border-radius:10px;
cursor:pointer;

}

#photoGallery img{

width:150px;
margin:10px;
border-radius:10px;

}

.guest-card{

background:#132c5c;
padding:15px;
margin:10px;
border-radius:10px;

}

